img {
    height: 100px;
}

.active {
    background-color: cornflowerblue;
    border: 2px solid red !important;
}
.no-active {
    background-color: darkgray;
    border: 2px solid blue !important;
}

.apple {
    background-color: powderblue;
    border: 2px solid aquamarine;
}