<h1>{{ title }}</h1>
<app-navbar></app-navbar>
<app-header></app-header>
<img src="{{ imageUrl }}" alt="" />
<img [src]="imageUrl2" alt="" />

<button disabled="{{ isDisabled }}">Disabled by string interpolation</button>
<!-- string interpolation always convert value in to string, so isDisabled=false boolean representation is true-->
<button [disabled]="isDisabled">Disabled by property binding</button>
<!-- for the property data binding we don't use string interpolation -->
<div class="input-container">
    <div>
        <!-- class binding -->
        <span>class binding</span>
        <button [class.active]="isActive" [class.no-active]="!isActive">
          Click Me
        </button>

    </div>

    <div>
        <!-- string condition check -->
        <span>string condition check</span>
        <button [class.apple]="fruitName == 'Apple'">Apple Button</button>

    </div>

    <div>
        <!-- style binding -->
        <span>style binding</span>
        <button [style.background]="isActive ? 'red' : 'yellow'">Style Button</button>

    </div>

    <div>
        <!-- click Event binding -->
        <span>click Event binding</span>
        <button (click)="buttonClick()">Click Button</button>
    </div>

    <div>
        <!-- keyup event input -->
        <span>keyup event input</span>
        <input type="text" (keyup)="keyupHandler($event)" />
    </div>

    <div>
        <!-- keyup event binding by angular way -->
        <!-- if you want catch latter `a` press, just replace the (keyup.a)=`keyupHandler()` -->
        <span>keyup event binding by angular way</span>
        <input type="text" (keyup.enter)="keyupEnterHandler($event)" />
    </div>

    <div>
        <!-- html template variable -->
        <span>html template variable</span>
        <input type="text" (keyup.enter)="keyupEnterHandlerByTag(user)" #user />
    </div>

    <div>
        <!-- Two way data binding with template variable #userDetails & property binding -->
        <span>Two way data binding</span>
        <input
          type="text"
          [value]="username"
          (keyup.enter)="keyupChangeHandler(userDetails)"
          #userDetails
        />
    </div>

    <div>
        <!-- Two way data binding with ngModel -->
        <span>Two way data binding with ngModel</span>
        <input [(ngModel)]="userName1" />
        {{userName1}}
    </div>

    <div>
        <span>Structural Directive | Old way | *ngIf</span>
        <h3 *ngIf="isLoggedIn">{{username}}</h3>
        <span>Structural Directive | Old way | else | `!isLoggedIn` </span>
        <h3 *ngIf="!isLoggedIn">User is not logged in</h3>
    </div>

    <div>
        <span>Structural Directive | New way | using with if else syntax block</span>
        @if (isLoggedIn) {
            <h3>{{username}}</h3>
        }@else {
            <h3>User is not logged in</h3>
        }
    </div>

    <div>
        <span>ng-template Directive | Old way | if else handle</span>
        <h3 *ngIf="isLoggedIn; else errorMessage">{{username}}</h3>
       
        <!-- #template-variable -->
        <ng-template #errorMessage>User not logged in by ng-template</ng-template>
    </div>

    <div>
        <!-- if directive with number values -->
        <button (click)="loginButtonClick()" *ngIf="loginAttemptCount < 3">Login</button>
        <span>{{loginAttemptCount}}</span>
        @if (loginAttemptCount >= 3) {
            <h3>User exceeded number of login attempt</h3>
        }
    </div>
    
    <div>
        <!-- ng-templateoutlet directive used for render reuseable component dynamically-->
        <ng-template #joinNow>
            <button>Join Now</button>
        </ng-template>
        <span>Ng Template</span>
        <div [ngTemplateOutlet]="joinNow">
            <h5>Sidebar</h5>
        </div>
        <div [ngTemplateOutlet]="joinNow">
            <h5>Hero</h5>
        </div>
        <div [ngTemplateOutlet]="joinNow">
            <h5>Footer</h5>
        </div>
    </div>

    <div>
        <span>Loop array by using ngFor | old syntax</span>
        <div *ngFor="let user of users">{{user}}</div>
    </div>
    <div>
        <span>Loop array by Syntax Block | new syntax</span>
        @for (user of users; track $index) {
            <div>{{user}}</div>
        }
    </div>

    <div>
        <span>unordered list by using ngFor | old syntax</span>
        <ul>
            <!-- ngFor uses to repeat the element, we need to loop, that's why it is used in li tag-->
            <li *ngFor="let user of users">{{user}}</li>
        </ul>
    </div>
    <div>
        <span>unordered list by using Syntax Block | new syntax</span>
        <ul>
            <!-- in angular , only needs to put repeating items inside block -->
            @for (user of users; track $index) {
                <li>{{user}}</li>
            }
        </ul>
    </div>

    <div>
        <span>unordered list by using Syntax Block | new syntax</span>
        <ul>
            <!-- in angular , only needs to put repeating items inside block -->
            @for (user of usersDetails; track $index) {
                <li>
                    <div>
                        <span #userItem>Name: {{user.name}}</span>
                        <button (click)="userDeleteHandler(user)">Delete</button>
                    </div>
                </li>
            }
        </ul>
        <button (click)="addUserHandler()">Add New User</button>
    </div>

</div>
